<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.pmemobile" xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="PMEMobile.Android" android:theme="@style/MainTheme"></application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" 
					 tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
</manifest>
